
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #f2f2f2;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.product-card{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.2s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

}
.product-card:hover{
    transform: translateY(-5px);
}
.product-card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
.product-card h2{
    font-size: 25px;
    margin: 10px 0;
}

.product-card p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.price {
  display: block;
  font-size: 20px;
  color: #388e3c;
  font-weight: bold;
  margin: 10px 0;
}

.buy-btn {
  padding: 10px 20px;
  background-color: #2874f0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #0f52ba;
}
